.card {
  border: none;
  height: 320px
}

.forms-inputs {
  position: relative
}

.forms-inputs span {
  position: absolute;
  top: -18px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 15px
}

.forms-inputs input {
  height: 50px;
  width: 100%;
  border: 2px solid #eee;
  padding-left: 10px;
}

.forms-inputs input:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #000
}

.btn {
  height: 50px
}

.radio-input input{
  background-color: white;
}

.radio-input{
  height: 50px;
  width: 100%;
}

.form-check{
  position: relative;
}

.form-check span {
  position: absolute;
  top: -18px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 15px
}


.mycontainer{
  /* border: solid; */
  margin: 5%;
  /* display: flex;
  justify-content: center; */
}
.table-adjustments{
  /* border: 1px solid red; */
  display: block;
  display: flex;
  justify-content: center;
}