.card {
  border: none;
  height: 320px
}

.forms-inputs {
  position: relative
}

.forms-inputs span {
  position: absolute;
  top: -18px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 15px
}

.forms-inputs input {
  height: 50px;
  width: 100%;
  border: 2px solid #eee;
  padding-left: 10px;
}

.forms-inputs input:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #000
}

.btn {
  height: 50px
}

.radio-input input{
  background-color: white;
}

.radio-input{
  height: 50px;
  width: 100%;
}

.form-check{
  position: relative;
}

.form-check span {
  position: absolute;
  top: -18px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 15px
}


.table{
  border-collapse:separate;
  border:solid black 1px;
  
  border-spacing: 0px;
  margin: 1%;
  margin-top: 3%;
  font-family: Arial;
}

th, td{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-left:solid black 1px;
  border-top:solid black 1px;
  text-align: center;
}

th {
  background-color: rgba(3, 150, 195, 0.972);
  border-top: none;
}

td:first-child, th:first-child {
  border-left: none;
}